<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iblood">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- //打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 环信 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <!-- <service android:name="com.amap.api.location.APSService"></service> -->
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <!-- 注明你的设计稿的尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- 拍照配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jph.takephoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".ui.setmodoule.SetUpActivity"/>
        <activity android:name=".ui.loginactivity.DefilyActivity" />
        <activity android:name=".ui.loginactivity.GiadingActivity" />
        <activity android:name=".ui.loginactivity.ReginActivity" />
        <activity android:name=".ui.loginactivity.WxActivity" />
        <activity android:name=".ui.PersonalInformation" />
        <activity android:name=".ui.setmodoule.ProposalActivity" />
        <activity android:name=".ui.postpersondata.BindQQActivity"/>
        <activity android:name=".ui.ModificationActivity" />
        <activity android:name=".ui.personal.PersonalAddress" />
        <activity android:name=".ui.WalletActivity" />
        <activity android:name=".ui.LateralspreadsPetActivity" />
        <activity android:name=".ui.ordermodole.MyOrderActivity" />
        <activity android:name=".ui.MessageActivity" />
        <activity android:name=".ui.PetAddActivity" />
        <activity android:name=".ui.PetTypeActivity" />
        <activity android:name=".ui.setmodoule.FunctionActivity" />
        <activity android:name=".ui.setmodoule.OrderActivity" />
        <activity android:name=".ui.setmodoule.ReagardActivity" />
        <activity android:name=".ui.setmodoule.TiaokuanActivity" />
        <activity android:name=".fellow.PingLunActivity" />
        <activity android:name=".ui.ordermodole.activity.ParticularsActivity" />
        <activity android:name=".ui.ordermodole.activity.RegoActibity" />
        <activity android:name=".ui.ordermodole.activity.AppPingActivity" />
        <activity android:name=".ui.PlayApForActivity" />
        <activity android:name=".ui.postpersondata.BindWeChatActivity" />
        <!-- 城市筛选 -->
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 这里的value要替换成你项目的 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="138e5cf1e8961ae326ff0908c03d1ae1" />

        <activity
            android:name=".ui.ImmunizingActivity"
            android:value="138e5cf1e8961ae326ff0908c03d1ae1" />
        <activity android:name=".fellow.FellowActivity" />
        <activity android:name=".fellow.SuccessActivity" />
        <activity android:name=".fellow.YuYueActivity" />
        <activity android:name=".ui.UpdatePersonalInfo" />
        <activity android:name=".ui.BindWeChatActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.personal.ClipImageActivity" />
        <activity android:name=".ui.PreviewActivity" />
        <activity android:name=".ui.ordermodole.activity.SelectPicPopupWindow"></activity>

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1101170121178296#qqchat" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.xiaoxi.LiaoTianActivity"></activity>
    </application>

</manifest>